.sidebar {
  width: 260px;
  height: 100vh;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary-color);
  transition: background-color 0.3s ease;
  overflow: hidden;
  box-sizing: border-box;
}

.sidebar-top {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-grow: 1;
  overflow-y: auto;
}

.sidebar-bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar-title {
  font-size: 34px;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 30px;
  line-height: 1.2;
  transition: color 0.3s ease;
}

.sidebar-user {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
  color: var(--text-color);
  transition: color 0.3s ease;
}

.sidebar button {
  background-color: var(--button-bg);
  color: var(--button-color);
  font-size: 16px;
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border-radius: 6px;
  width: 100%;
  border: none;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar button.active {
box-shadow: 0 0 0 2px var(--text-color) inset;

}

.sidebar .logout {
  background-color: #880015;
  color: white;
}

.sidebar .logout svg {
  color: white;
}

:root[data-theme='light'] {
  --text-color: #111;
  --button-bg: #eee;
  --button-color: #111;
}

:root[data-theme='dark'] {
  --text-color: #fff;
  --button-bg: #1f1f1f;
  --button-color: #fff;
}
